<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login-Prudent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="icon"
          type="image/png"
          href="/static/favicon/favicon-16x16.png">
    <link rel="icon"
          type="image/png"
          href="/static/favicon/favicon-32x32.png">
    <link rel="icon"
          type="image/png"
          href="/static/favicon/android-chrome-192x192.png">
    <link rel="icon"
          type="image/png"
          href="/static/favicon/apple-touch-icon.png">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>


    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/login.css">

</head>
<body>
<header role="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target=".navbar-collapse" role="button">
                    <span class="sr-only">Toggle Navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>

                <img class="navbar-brand" src="/static/prudent_logo.png">
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right js-nav">
                    <li><a href='{{ url_for("home") }}'>Home</a></li>

                    <li><a href="{{ url_for("about") }}">About Us</a></li>

                    <li><a href="{{ url_for("test") }}">COVID-19 Test</a></li>


                    <li><a href="{{ url_for('equipment') }}">Equipment</a></li>

                    <li><a href="{{ url_for("contact") }}">Contact Us</a></li>


                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="wrapper">
    <div class="sct brand">
        <img src="/static/stayhome.jpeg" alt="Stay Home Stay Safe">
    </div>
    <div class="sct login">
        <div class="login">
            <h3>Book Your Appointment</h3>
            <br>
            <input type="email" id="email" name="email" placeholder="Email ID">
            <input type="tel" id="phone" name="PhoneNumber" maxlength="10" onkeypress="return isNumberKey(event);"
                   placeholder="Phone Number">


            <button type="submit" class="g-recaptcha"
                    data-sitekey="6LfK6rsZAAAAAFacAcWufvwgLPKkRbtoh0ndMW3q" id="getotp" name="send"
                    data-callback='sendotp' onclick=" return sendotp()">Get Otp
            </button>

            <input type="text" style="display: none" id="otpcontainer" name="password" maxlength="6"
                   onkeypress="return isNumberKey(event);" placeholder="Enter OTP">
            <a id="resendotp" onclick="return resendotp()" style="left: 90%; position: relative;display: none">Resend
                OTP</a>
            <button style="display: none" id="submitform" name="send" onclick=" return submit()">Confirm</button>

            <div class="error_msg" STYLE="color: #a01717" id="errorName"></div>


        </div> <!--end login-->

    </div>
</div>
<!--end wrapper-->


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

<script src="/static/login.js"></script>


</body>
</html>
